.navbar {
    background-color: transparent; /* Black background color */
    position: absolute; 
    transition: top 1s;
    opacity: 1;
    width: 350px;
    min-height: 563px;
    top: 0px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

@media only screen and (max-width : 500px) {
    .u-layout-cell {
      visibility: hidden;
    }
}